# Node modules
/frontend/node_modules/

# Environment variables
.env

# Log files
*.log

# Build artifacts
/dist/
/build/
/out/

# IDE/editor configurations
.vscode/
/.idea/
*.suo
*.user
*.userosscache
*.suo
*.ntvs_analysis.dat
*.ncb

# OS-specific files
.DS_Store
Thumbs.db

# Nginx configuration 
node_modules
